.version2body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #5FC7FF url(images/Fondmario.jpg) no-repeat center center fixed;
  background-size: contain;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

#container {
  position: relative;
  width: 350px;
  height: 450px;
  margin: auto;
}

#corpsversion2 {
  position: relative;
  z-index: 2;
  height: 65%;
  width: 50%;
  top: 75px;
  left: 85px;
  border-radius: 42%;
  border: 6px solid black;
  background-color: #f7cdad;
}


#mariopieddroit {
  position: absolute;
  width: 230px;
  left: 120px;
  top: 330px;
  z-index: 0;
}

#mariopiedgauche {
  position: absolute;
  width: 230px;
  left: 10px;
  bottom: -20px;
  z-index: 0;
}


#mariobrasdroit {
  position: absolute;
  width: 250px;
  left: 110px;
  bottom: -50px;
  z-index: 2;
  transform-origin: top left; 
  animation: brasDroit 2s ease-in-out infinite alternate;
}

#mariobrasgauche {
  position: absolute;
  width: 250px;
  right: 110px;
  bottom: -50px;
  z-index: 2;
  transform-origin: top right; 
  animation: brasGauche 2s ease-in-out infinite alternate;
}

@keyframes brasDroit {
  from { transform: rotate(5deg); }
  to { transform: rotate(-6deg); }
}

@keyframes brasGauche {
  from { transform: rotate(-5deg); }
  to { transform: rotate(6deg); }
}



#browsmario {
  position: relative;
  top: 15px;
  left: 6px;
  z-index: 2;
}

#marioeyes {
  position: relative;
  width: 140px;
  left: 20px;
  bottom: 30px;
  z-index: 2;
}

#mariohat {
  position: relative;
  width: 200px;
  bottom: 250px;
  right: 12px;
  z-index: 2;
}

#nosemario {
  position: relative;
  width: 135px;
  left: 20px;
  bottom: 200px;
  z-index: 2;
}

#moustache {
  position: relative;
  width: 200px;
  bottom: 260px;
  right: 12px;
  z-index: 3;
}

#bouchemario {
  position: relative;
  bottom: 312px;
  left: 20px;
  z-index: 2;
}

#oreildroit {
  position: relative;
  width: 130px;
  right: 72px;
  bottom: 560px;
  z-index: 3;
}

#oreilgauche {
  position: relative;
  width: 130px;
  left: 132px;
  bottom: 715px;
  z-index: 3;
}

#cheveuxmariogauche {
  position: relative;
  width: 150px;
  right: 65px;
  bottom: 945px;
  z-index: 1;
  rotate: 15deg;
}

#cheveuxmariodroite {
  position: relative;
  width: 150px;
  left: 88px;
  bottom: 1105px;
  z-index: 1;
  rotate: -15deg;
}

#block{
  position: fixed;
  width: 250px;
  left: -25px;
  bottom: -20px;
}

#block2{
  position: fixed;
  width: 250px;
  right: -25px;
  bottom: -20px;
}


#block3{
  position: fixed;
  width: 250px;
  left: -25px;
  bottom: 200px;
}

#block4{
  position: fixed;
  width: 250px;
  right: -25px;
  bottom: 200px;
}


#block5{
  position: fixed;
  width: 250px;
  left: -25px;
  bottom: 420px;
}

#block6{
  position: fixed;
  width: 250px;
  right: -25px;
  bottom: 420px;
}