body {
  background-color: #F7F7F7;
  margin: 0;
  min-height: 144.5vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden; /* Important aussi sur le body */
  max-width: 100vw; /* Force la largeur maximale */
  user-select: none; /* Empêche la sélection de texte */
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */


}

.iconbutton_darkmode{
    width: 150%;
}

.button_dark_mode{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button_dark_mode:hover {

  transform: scale(1.1); /* petit effet de zoom fluide */
}

ul{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 0;
    unicode-bidi: isolate;
    gap: 4em;
    margin-right: 2.5em;

}

.logo_and_text{
    display: flex;
    align-items: center;
}

.les_autres_pages{
    display: flex;
    align-items: center;
}

.text_du_logo{
    font-family: 'Gorditas', sans-serif;
    color: white;
}

.logo{
    width: 25%;
}
a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Courier Prime', monospace;
    transition: all 0.3s ease;
}

a.active1 {
    color: white;
    background-color: #A62020;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 8px 8px 0px #B71C1C;
}

a:hover.active1{
    text-decoration:underline;
    box-shadow: 12px 12px 0px #B71C1C;
    padding-top: 15px;
    padding-left: 15px;
}

a:hover{
    text-decoration:underline;
}

p{
    color: #212121;
}

header{
    background-color: #D32F2F;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:black solid 5px;

    
}

.headerposition{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

main {
    margin: 2em;
    max-width: 100%; /* Empêche le dépassement */
    margin-top: 0;
}

section {
    padding: 1em;
    border: black solid 5px;
    border-radius: 5px;
    background-color: #E0E0E0;
    max-width: 100%; /* Empêche le dépassement */
    box-sizing: border-box;
}

.section-5 {
    overflow: hidden;
    height: 90vh; 
    box-shadow:
    2px 2px 0 #D32F2F,   
    4px 4px 0 #D32F2F,   
    6px 6px 0 #D32F2F,
    9px 9px 0 black, 
    -2px 2px 0 #D32F2F,   
    -4px 4px 0 #D32F2F,   
    -6px 6px 0 #D32F2F,
    -9px 9px 0 black;
}
    

footer{
    background-color: #2C2C2C;
    min-height: 20vh;
}

.textfooter{
    color: #FFFFFF;
}

/* ------------------------------------------ */

.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: overlay;
    z-index: 1000;
}

.cursor__ball circle {
    fill: white;
}


/* ------- scrollbar invisible -----*/

/* width */
::-webkit-scrollbar {
  width: 0px;  /* rendre visible si possible*/
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #EF5350;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #E53935;
}
