:root{
    --body_base-color: #E0E0E0 ;
    --header_border_base: black;
    --p_base-color: #212121 ;
    --section_base-color:  #d1d5db;
    --border_section_base-color: #000000 ;
    --boxshadow_section13_base-color :
    -2px 2px 0 #D32F2F,   
    -4px 4px 0 #D32F2F,   
    -6px 6px 0 #D32F2F,
    -9px 9px 0 black;
    --boxshadow_section24_base-color :
    2px 2px 0 #D32F2F,   
    4px 4px 0 #D32F2F,   
    6px 6px 0 #D32F2F,
    9px 9px 0 black; 
    --boxshadow_section5_base-color :
    2px 2px 0 #D32F2F,   
    4px 4px 0 #D32F2F,   
    6px 6px 0 #D32F2F,
    9px 9px 0 black, 
    -2px 2px 0 #D32F2F,   
    -4px 4px 0 #D32F2F,   
    -6px 6px 0 #D32F2F,
    -9px 9px 0 black;
}

.darkmode{
    --body_base-color: #131d34 ;
    --header_border_base: white;
    --p_base-color: #d1d5db ;
    --section_base-color: #1c2a4a ;
    --border_section_base-color: #E0E0E0 ;
    --boxshadow_section13_base-color :
    -2px 2px 0 #D32F2F,   
    -4px 4px 0 #D32F2F,   
    -6px 6px 0 #D32F2F,
    -9px 9px 0 #E0E0E0;
    --boxshadow_section24_base-color :
    2px 2px 0 #D32F2F,   
    4px 4px 0 #D32F2F,   
    6px 6px 0 #D32F2F,
    9px 9px 0 #E0E0E0; 
    --boxshadow_section5_base-color :
    2px 2px 0 #D32F2F,   
    4px 4px 0 #D32F2F,   
    6px 6px 0 #D32F2F,
    9px 9px 0 #E0E0E0, 
    -2px 2px 0 #D32F2F,   
    -4px 4px 0 #D32F2F,   
    -6px 6px 0 #D32F2F,
    -9px 9px 0 #E0E0E0;
}

#theme-switch img:last-child{
    display: none;
}

.darkmode #theme-switch img:first-child{
    display: none;
}

.darkmode #theme-switch img:last-child{
    display: block;
}



.bas-light {
    display: block;
}

.bas-dark {
    display: none;
}

.darkmode .bas-light {
    display: none;
}

.darkmode .bas-dark {
    display: block;
}

body {
  background-color: var(--body_base-color);
  margin: 0;
  min-height: 223vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden; /* Important aussi sur le body */
  max-width: 100vw; /* Force la largeur maximale */
  user-select: none; /* Empêche la sélection de texte */
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */


}

.iconbutton_darkmode{
    width: 150%;
}

.button_dark_mode{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button_dark_mode:hover {

  transform: scale(1.1); /* petit effet de zoom fluide */
}

ul{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 0;
    unicode-bidi: isolate;
    gap: 4em;
    margin-right: 2.5em;

}

.logo_and_text{
    display: flex;
    align-items: center;
}

.les_autres_pages{
    display: flex;
    align-items: center;
}

.text_du_logo{
    font-family: 'Gorditas', sans-serif;
    color: white;
}

.logo{
    width: 25%;
}
a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Courier Prime', monospace;
    transition: all 0.3s ease;
}

a.active1 {
    color: white;
    background-color: #A62020;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 8px 8px 0px #B71C1C;
}

a:hover.active1{
    text-decoration:underline;
    box-shadow: 12px 12px 0px #B71C1C;
    padding-top: 15px;
    padding-left: 15px;
}

a:hover{
    text-decoration:underline;
}

p{
    color: var(--p_base-color);
}

header{
    background-color: #D32F2F;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:var(--header_border_base) solid 5px;
}

.headerposition{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1em;
    margin: 2em;
    margin-top: 0;
    max-width: 100%; /* Empêche le dépassement */
}

section {
    padding: 1em;
    border: var(--border_section_base-color) solid 5px;
    border-radius: 5px;
    background-color: var(--section_base-color);
    max-width: 100%; /* Empêche le dépassement */
    box-sizing: border-box;
}

/* Hauteurs FIXES avec height */
.section-1 {
    grid-column: 1;
    grid-row: 1;
    height: 5vh; /* Hauteur fixe */
    overflow: hidden;
    box-shadow: var(--boxshadow_section13_base-color);
}

.section-2 {
    grid-column: 2;
    grid-row: 1;
    height: 5vh; /* Hauteur différente */
    overflow: hidden;
    box-shadow: var(--boxshadow_section24_base-color);
}

.section-3 {
    grid-column: 1;
    grid-row: 2;
    height: 90vh; /* Hauteur fixe */
    box-shadow: var(--boxshadow_section13_base-color);
}

.section-4 {
    grid-column: 2;
    grid-row: 2;
    height: 90vh; /* Hauteur différente */
    box-shadow: var(--boxshadow_section24_base-color);;
}

.section-5 {
    grid-column: 1 / 3;
    grid-row: 3;
    height: 70vh; /* Hauteur fixe */
    box-shadow: var(--boxshadow_section5_base-color);
}
    

footer{
    background-color: #2C2C2C;
    min-height: 20vh;
}

.textfooter{
    color: #FFFFFF;
}

/* ------------------------------------------ */

.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: overlay;
    z-index: 1000;
}

.cursor__ball circle {
    fill: white;
}


/* ------- scrollbar invisible -----*/

/* width */
::-webkit-scrollbar {
  width: 0px;  /* rendre visible si possible*/
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #EF5350;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #E53935;
}
