body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.sectionboite{
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 20px;
}

.MainContent{
    margin-left: 220px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

h2{
    color: white;
}

nav{
    width: 200px;
    min-height: 223vh;
    display: flex;
    justify-content: center;
    margin-top: 4vh ;

}
.Navigation{
    position: fixed;
    background-color:#226D68 ;
}


ul{
    
    list-style-type: none;
    margin: 0px;
    padding-inline-start: 0px;
}

li{
    margin-top: 30px;
    text-transform: uppercase;
    
}

a{
    text-decoration: none;
    color : white ;
}


a:hover{
    color: #226D68;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
}


.img_plan_arboretum {
    box-shadow: 0 0 20px rgba(0,0,0,.2)
}





